// BREAKPOINTS
$tab-port: 600px;
$tab-land: 900px;
$desktop: 1200px;
$large-desktop: 1800px;


// COLORS
$primary-color: #000;
$secondary-color: #fff;
$tertiary-color: #f9f9f9;
$hover-color: #aaa;
$text-color: #ccc;

// FONT-SIZE
$primary-title: 30px;
$secondary-title: 20px;
$text: 16px;


// OTHERS
$max-content-width: 1300px;
$space: 20px;