.footer {
    padding: $space;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: $text;
    line-height: $space;

    &__container {
        display: grid;
        gap: $space;
        max-width: $max-content-width;
        margin: 0 auto;

        @include tab-port {
            grid-template-columns: repeat(2, 1fr);
            gap: $space;
        }

        @include tab-land {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__contact {
        font-style: normal;
    }

    &__title {
        position: relative;
        margin-bottom: $space;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 40px;
            height: 3px;
            background-color: $secondary-color;
        }
    }

    &__text {
        &--space {
            margin-bottom: $space;
        }
    }

    &__link {
        display: inline-block;
        color: $secondary-color;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            color: $hover-color;
        }
    }
}